.monment {
  padding-left: 10px;
}
.imageGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.imgFir {
  width: 32.5%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.imgTop {
  overflow: hidden;
  cursor: pointer;
}
.imgTop:hover {
  transform: scale(1.01);
}
.doTop {
  /* height: 400px; */
}
.imgBot {
  overflow: hidden;
  row-gap: 10px;
  cursor: pointer;
}
.imgBot:hover {
  transform: scale(1.01);
}
.doBot {
  /* height: 200px; */
}
@media only screen and (max-width: 992px) {
  .imgFir {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .imgFir {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}
@media only screen and (max-width: 576px) {
  .imgFir {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}
