.footerLogo {
  width: 53px;
  height: 53px;
  margin-top: -10px;
}
.footerTitle {
  font-size: 24px;
  line-height: 36px;
  font-family: poppinSemiBold;
  margin-bottom: 20px;
}
.footerDes {
  font-size: 16px;
  color: #555;
}
.iconGop {
  font-size: 20px;
  color: #555;
}
.footerUl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0px;
}
.footerLi {
  display: flex;
  flex-direction: row;
  color: #555;
  list-style: none;
  font-size: 16px;
}
.endpd {
  padding-right: 25px;
}
.iconCon {
  font-size: 20px;
  margin-right: 10px;
  color: #f4935e;
}
.fotxt {
  font-size: 16px;
}
.copyRight {
  border-top: 1px solid #c7cacd;
  text-align: center;
}

.copyRightDesc {
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.copyRightCompany {
  font-size: 16px;
  line-height: 24px;
  color: #f4935e;
}
@media only screen and (max-width: 992px) {
  .footerTitle {
    font-size: 26px;
  }
  .footerDes {
    font-size: 18px;
  }
  .footerLi {
    font-size: 18px;
  }
  .iconCon {
    font-size: 18px;
  }
  .iconGop {
    font-size: 18px;
  }
  .fotxt {
    font-size: 18px;
  }
  .copyRightDesc {
    font-size: 18px;
  }
  .copyRightCompany {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .footerTitle {
    font-size: 26px;
  }
  .footerDes {
    font-size: 18px;
  }
  .footerLi {
    font-size: 18px;
  }
  .iconCon {
    font-size: 18px;
  }
  .iconGop {
    font-size: 18px;
  }
  .fotxt {
    font-size: 18px;
  }
  .copyRightDesc {
    font-size: 18px;
  }
  .copyRightCompany {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .footerTitle {
    font-size: 28px;
  }
  .footerDes {
    font-size: 18px;
  }
  .footerLi {
    font-size: 18px;
  }
  .iconCon {
    font-size: 18px;
  }
  .iconGop {
    font-size: 18px;
  }
  .fotxt {
    font-size: 18px;
  }
  .copyRightDesc {
    font-size: 18px;
  }
  .copyRightCompany {
    font-size: 18px;
  }
}
