@font-face {
  font-family: poppinRegular;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppinMedium;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppinSemiBold;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppinBold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

p {
  margin-bottom: 0 !important;
}

.test {
  font-family: poppinBold;
}
